# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
../exercise/node_modules/*
../exercise-backend/node_modules/*
./exercise-backend/node_modules/*
../exercise/node_modules
../exercise-backend/node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
./DS_Store
../exercise-backend/.DS_Store
../exercise/.DS_Store
../DS_Store
./exercise-backend/.DS_Store
./exercise/.DS_Store
./exercise/node_modules
./exercise-backend/node_modules
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
